body {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	padding: 3%;
}

h1 {
	color: royalblue;
	margin-top: 0;
}

label {
	font-size: 0.8em;
}

select {
	margin-bottom: 40px;
}

.product {
	color: white;
	font-size: 1.2em;
	float: left;
	width: 17%;
	margin: 15px 30px 15px 0;
	padding: 10px;
	border: 12px solid royalblue;
	background-color: royalblue;
	border-radius: 12px;
}

.name {
	margin-bottom: 0;
}

.dept {
	margin-top: 0;
	font-size: 0.7em;
}
